*{
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue;
}

body{
    background-color: blanchedalmond;
}

button{
    background-color: #04AA6D; /* Green */
    border: 10px;
    color: white;
    padding: 32px 45%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

button:hover{
    background-color: #026541; /* Green */
}

a{
    color:brown;
    font-style:italic;
}