<!DOCTYPE html>
<html>
 
<head>
    <title>Fun With Random Numbers</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
 
<body>
    <h2>Make Something Random</h2>

    <a href="/rand/1/10">
      <button class="buttonC">A Small Random Number</button>
    </a>
    
    <a href="/rand/1000/2000">
      <button class="buttonC"> A Big Random Number</button>
    </a>

    <a href="/pookie">
      <button class="buttonC">A pookie bear</button>
    </a>

    <a href="/randS">
      <button class="buttonC">Generate a Random Story:</button>
    </a>
    </br>
    <!-- <h1>{{randName}} the {{randAdjective}} was born in {{randPlace}} in {{randYear}}</h1> -->
 

</body>
 
</html>
