<!DOCTYPE html>
<html>
 
<head>
    <title>Fun With Random Numbers</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
 
<body>
    <h2>What Type of Random Number Would You Like?</h2>

    <a href="/rand/1/10">
      <button>A Small Random Number</button>
    </a>

    &nbsp &nbsp &nbsp
    
    <a href="/rand/1000/2000">
      <button>A Big Random Number</button>
    </a>
  </br>
    <a href="/pookie">
      <button>A pookie bear</button>
    </a>
  </br>
    <a href="/randS">
      <button type="button">Generate a Random Story:</button>
    </a>
    </br>
    <h1>{{randName}} the {{randAdjective}} was born in {{randPlace}} in {{randYear}}</h1>
 

</body>
 
</html>
