*{
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue;
}

body{
    background-color: blanchedalmond;
}

button{
    color:rgb(3, 87, 59);
    background-color: rgb(246, 144, 144);
}

a{
    color:brown;
    font-style:italic;
}